# db
DATABASE_URL=value_here

# clerk auth
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/dashboard"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/onboarding"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=value_here
CLERK_SECRET_KEY=value_here

NEXT_PUBLIC_APP_URL=http://localhost:3000

# google cloud storage keys
GOOGLE_CLOUD_PROJECT_ID="your-project-id"
GOOGLE_CLOUD_PRIVATE_KEY_ID="your-private-key-id"
GOOGLE_CLOUD_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_CLOUD_CLIENT_EMAIL="your-service-account@your-project.iam.gserviceaccount.com"
GOOGLE_CLOUD_CLIENT_ID="your-client-id"
GOOGLE_CLOUD_CLIENT_X509_CERT_URL="https://www.googleapis.com/robot/v1/metadata/x509/your-service-account%40your-project.iam.gserviceaccount.com"
GOOGLE_CLOUD_STORAGE_BUCKET="fore-genomics-trfs"
GOOGLE_CLOUD_APPROVED_TRF_BUCKET="fore-genomics-approved-trfs"
GOOGLE_CLOUD_REPORTS_BUCKET="fore-genomics-reports-prod"