# DB
DATABASE_URL=value_here

# Clerk Auth
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/dashboard"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/onboarding"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=value_here
CLERK_SECRET_KEY=value_here
